.login-box {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
}

.input-box .input-id, .input-pw {
    display: block;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: #eee;
    font-size: 14px;
    text-indent: 5px;
}

.login-box > label {
    font-size: 13px;
}

.login-box .id-save {
    accent-color: #00AFB9;
    height: 10px;
}

.login-box .check-btn {
    color: #fff;
    background-color: #00AFB9;
    border: 0;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'NanumBarunGothic';
}

.find-all {
    margin-top: 25px;
    text-align: center;
}

.find-all a {
    font-family: 'NanumBarunGothic';
    font-size: 13px;
    color: #777;
}
