.find-box {
    width: 400px;
    height: 480px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
}

.find-box > h3 {
    font-family: 'NanumBarunGothic';
    font-size: 20px;
    margin-bottom: 30px;
}

.find-box > p {
	font-size : 13px;
}

.find-box .input-info {
    display: block;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: #eee;
    font-size: 14px;
    text-indent: 5px;
}

.find-box .find-btn {
    color: #fff;
    background-color: #00AFB9;
    border: 0;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'NanumBarunGothic';
}