@font-face {
    font-family: 'NanumBarunGothic';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBareunGothicLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumBareunGothicUltraLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.ttf) format("truetype");
}
body,html{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
#wrapped{
	width: 1180px;
	margin: 0 auto;
}

.detailed {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 100px;
}

.detail-first {
    font-weight: bold; 
    color: #00AFB9;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 100%;
}

.detail {
    font-weight: bold; 
    color: #00AFB9;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 100%;
}

.remarks {
    color: #666;
}

.form-group {
    overflow: visible;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
   	position: relative;
}

.form-group .title {
    float:left;
    padding: 5px;
}

.form-group .title-name {
    width: 400px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px;
    height: 35px;
}

.form-group .content {
    padding: 5px;
}

.form-group .btn-primary {
    width: 180px;
    margin-left: 80px;
    text-align: left;
    margin-bottom: 20px;
}


.input-group-btn {
    position: static;
    overflow: visible; 
}

.dropdown-menu {
    z-index: 1000; 
    position: absolute; 
    top: 60%;
    left: 80px;
    margin-left: 0;
}

.btn-primary {background-color: #fff; border-color:#666; color: #222; border-radius: 0;}

.open>.dropdown-toggle.btn-primary {background-color: #fff; border-color:#666; color: #222;}

.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #fff;
    border-color:#666;
    color: #222;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {background-color: #fff; border-color:#666; color: #222;}

.btn-primary:active:hover {
    background-color: #fff;  border-color:#666; color: #222;
}

.contents {
    border-bottom: 0px;
}
.btn-wrap {overflow: hidden;}
.btn-wrap > .right {float: right;}
.btn {margin: 0 10px;}