/* for block of numbers */
.hljs-ln-line.hljs-ln-numbers {
    padding-right: 5px;
}
.hljs-ln-line.hljs-ln-code {
    padding-left: 5px;
}

.hljs-ln-numbers {

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;

}
.hljs-ln-code {
    padding-left: 10px;
}



.user-bigbox {
    display: flex;
}
.user-bigbox > img{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.user-bigbox > .user-box{
    margin: auto 0;
}
.user-bigbox > .user-box > .user span{
    position: relative;
    top: -2px;
    font-size: 0.5em;
    color: red;
    display: inline-block;
}


#wrapped > .board-type{
    border-bottom: 2px solid rgb(0, 0, 0,0.2);
	margin-bottom: 15px;
}
#wrapped > .board-type > p{
    padding: 20px;
}

#wrapped > .post{
    margin: 5px;
}

#wrapped > .post > .post-content{
    margin-top: 15px;
    margin-bottom: 30px;
}
#wrapped > .post > .post-info > .icon{
    position: relative;
}
#wrapped > .post > .post-info > .icon > img{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
}
#wrapped > .post > .post-info > .icon > span{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}
#wrapped > .post > .post-info > .num {
    margin-left: 22px;
    font-size: 0.8em;
}


.comment-bigbox{
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #eee;
}
.comment-bigbox > .comment-input{
    margin: 0 auto;
    width: 1000px;
    height: 30px;
    overflow: hidden;
    display: flex;
    border-right:0;
    margin-bottom: 20px;
}
.comment-bigbox > .comment-input > input[type="text"]{
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.comment-bigbox > .comment-input > button{
    box-sizing: border-box;
    width: 5%;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
}

.comment-bigbox > .comment-input > button >span{
  margin-top: 7px;
}
.comment-bigbox > .comment-box > .comment{
    border-bottom: 1px solid #eee;
    padding-top: 8px;
}
.comment-bigbox > .comment-box .comment-content{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.comment-bigbox .reply{
    background-color: #F8F8F8;
}
