/* 글제목,버튼 */
/* .title, .contents, .btns {
    width: 1440px; margin: 0 auto;
} */

/* .form-group1 {overflow: hidden;} 
.form-group1 > .left {float: left;}
.form-group1 > .right {float: right;} */

/* 드답 다운 디자인 */
.btn-wrap {overflow: hidden;}
.btn-wrap > .right {float: right;}
.btn {margin: 0 10px;}

.btn-primary {background-color: #00AFB9;}

.open>.dropdown-toggle.btn-primary {background-color: #00AFB9;}

.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #00AFB9;
}

.btn-primary:focus {background-color: #00AFB9; border-color: #00AFB9;}
.btn-primary:hover {background-color: #00AFB9; border-color: #00AFB9;}
.btn-primary:active {background-color: #00AFB9; border-color: #00AFB9;}


.btn-primary:active:hover {
    background-color: #00AFB9; border-color: #00AFB9;
}




