<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kkodamkkodam.user.model.UserMapper">
	
	<!-- 중복 검사 -->
	<select id="checkId" parameterType="string" resultType="com.kkodamkkodam.user.model.UserDTO">
		SELECT * FROM USERS WHERE ID = #{id}
	</select>
	
	<!-- 가입 -->
	<insert id="join" parameterType="com.kkodamkkodam.user.model.UserDTO">
    INSERT INTO USERS(ID, PW, NAME) 
    VALUES (#{id}, #{pw}, #{name}) <!-- (#{DTO의 멤버변수명}) -->
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="map" resultType="com.kkodamkkodam.user.model.UserDTO">
		SELECT * FROM USERS WHERE ID = #{id} AND PW = #{pw} AND DELETED = 'N'
	</select>
	
	<!-- 정보 수정 -->
	<update id="update" parameterType="com.kkodamkkodam.user.model.UserDTO">
		UPDATE USERS SET PW = #{pw}, NAME = #{name} WHERE ID = #{id}
	</update>
	
	<!-- 탈퇴 -->
    <update id="delete" parameterType="string">
        UPDATE USERS SET DELETED = 'Y' WHERE ID = #{id}
    </update>
    
    <!-- 계정 조회 -->
    <select id="find" parameterType="map" resultType="com.kkodamkkodam.user.model.UserDTO">
    	SELECT * FROM USERS WHERE ID = #{id} AND NAME = #{name}
    </select>
    
    <!-- 비밀번호 변경 -->
    <update id="change" parameterType="com.kkodamkkodam.user.model.UserDTO">
    	UPDATE USERS SET PW = #{pw} WHERE ID = #{id}
    </update>
</mapper>